<ion-header class="ion-padding">
  <ion-toolbar>
    <ion-title>{{languageService.dictionary.addTimer}}</ion-title>
    <ion-button slot="end" color="danger" (click)="close()"><ion-icon name="close"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="icons">
  <form [formGroup]="timerForm" (ngSubmit)="saveTimer()">
    <ion-item>
      <ion-label position="stacked">{{languageService.dictionary.timerName}}</ion-label>
      <ion-input formControlName="name" type="text" required></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="timerForm.get('name').errors && timerForm.get('name').touched">
      <h6>
        {{timerForm.get('name').errors?.required ? languageService.dictionary.timerNameRequired : ''}}
      </h6>
    </ion-text>
    <ion-item>
      <ion-label class="rainbow">{{languageService.dictionary.icon}}</ion-label>
      <ion-select placeholder="Select icon" formControlName="icon">
        <ion-select-option *ngFor="let icon of icons" [value]="icon.name">{{icon.label}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-row class="ion-padding">
      <ion-col>
        <div class="ion-text-center">
          <h1 class="rainbow">{{languageService.dictionary.iconPreview}}</h1>
        </div>
        <div class="ion-text-center">
          <ion-icon [name]="timerForm.controls.icon.value" class="rainbow" style="font-size:12em"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
    <ion-button class="ion-margin-top" expand="full" type="submit" [disabled]="timerForm.invalid">{{action == 'add' ? languageService.dictionary.add : languageService.dictionary.edit}}</ion-button>
  </form>
</ion-content>
