<ion-header class="ion-padding">
  <ion-toolbar>
    <ion-title>{{langService.dictionary.addCategory}}</ion-title>
    <ion-button slot="end" color="danger" (click)="close()"><ion-icon name="close"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="categoryForm" (ngSubmit)="saveCategory()">
    <ion-item>
      <ion-label position="stacked">{{langService.dictionary.categoryName}}</ion-label>
      <ion-input formControlName="name" type="text" required></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="categoryForm.get('name').errors && categoryForm.get('name').touched">
      <h6>
        {{categoryForm.get('name').errors?.categoryPresent ? langService.dictionary.categoryNameExists : ''}}
        {{categoryForm.get('name').errors?.required ? langService.dictionary.categoryNameRequired : ''}}
      </h6>
    </ion-text>
    <ion-button class="ion-margin-top" expand="full" type="submit" [disabled]="categoryForm.invalid">{{langService.dictionary.save}}</ion-button>
  </form>
</ion-content>