<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="langService.dictionary.timerDetail"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!loading" class="ion-padding">
  <ion-row>
    <ion-col>
      <div class="ion-text-center">
        <h1>{{timer.name}}</h1>
      </div>
      <div class="ion-text-center">
        <ion-icon [name]="timer.icon" class="rainbow" style="font-size:12em"></ion-icon>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="bg-gray">
    <ion-col>
      <ion-text class="ion-text-center"><h2 class="rainbow">Timer Details</h2></ion-text>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer *ngIf="!loading">
  <ion-row class="ion-no-padding">
    <ion-col size="6" class="ion-no-padding">
      <ion-button expand="full" color="warning" (click)="openModal('edit', category, timer)">{{langService.dictionary.edit}}</ion-button>
    </ion-col>
    <ion-col size="6" class="ion-no-padding">
      <ion-button expand="full" color="danger" (click)="openDeleteTimerDialog(category, timer)">{{langService.dictionary.delete}}</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>