<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="timers">
      <ion-icon name="stopwatch"></ion-icon>
      <ion-label>{{langService.dictionary.timers}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="categories">
      <ion-icon name="layers"></ion-icon>
      <ion-label>{{langService.dictionary.categories}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label>{{langService.dictionary.settings}}</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
